<div>
  <% if @name != "" %>
  Hello, <%= @name %>
  <% session[:player_1] = @name %>
  <% else %>
  Hello, Player 1
  <% session[:player_1] = 'Player1' %>
  <% end %>
<br><a href="/p2p">Register Player2</a>
</div>
