<% if session[:game].has_winner? %>
  Congratulations! <% session[:player_1] %> Wins! <br>
  <a href="/">New Game</a>
<% else %>
<%= session[:player_2] %>'s turn
<br><%= @hit %>
<pre><%= session[:game].opponent_board_view(session[:game].player_2) %></pre>
<form action="/p2p/play/p1" method="post">
<input type="text" name="coordinates">
<input type="submit" value="Fire">
</form>
<% end %>