witch player will shoot first?
<p>
<a href="/p2p/play/p1"><button type="button"><%= session[:player_1] %> </button></a>
<a href="/p2p/play/p2"><button type="button"><%= session[:player_2] %> </button></a>
</p>